{:aliases {:dev   {:extra-deps {nrepl/nrepl            {:mvn/version "1.3.0"}
                               cider/cider-nrepl       {:mvn/version "0.50.2"}
                               ring/ring-jetty-adapter {:mvn/version "1.12.2"}
                               thheller/shadow-cljs    {:mvn/version "2.28.18"}}
                  :extra-paths ["dev"]
                  :main-opts  ["-m" "nrepl.cmdline"
                               "--middleware" "[cider.nrepl/cider-middleware]"]},
          :build {:extra-deps {thheller/shadow-cljs {:mvn/version "2.28.18"}}
                  :main-opts  ["-m" "blog.site"]},
          :serve {:extra-deps {ring/ring-jetty-adapter {:mvn/version "1.12.2"}},
                  :main-opts  ["-m" "blog.ssg.serve"]}},
 :deps {babashka/fs          {:mvn/version "0.5.34"},
        babashka/process     {:mvn/version "0.5.22"},
        hiccup/hiccup        {:mvn/version "2.0.0"},
        org.clojure/clojure  {:mvn/version "1.12.0"},
        org.clojure/data.xml {:mvn/version "0.2.0-alpha11"},
        ring/ring-core       {:mvn/version "1.12.2"}},
 :paths ["src"]}
