{:forge-base-url #or [#env FORGE_BASE_URL "http://cygnus:8084/migalmoreno/"]
 :github-owner "migalmoreno"
 :cache-dir ".git-cache"
 :projects
 [{:repo-name "tubo"
   :synopsis  "A libre streaming aggregator for the web"
   :tags      ["clojure" "clojurescript"]
   :license   "AGPL-3.0"}
  {:repo-name "alegoria"
   :synopsis  "A libre gallery aggregator for the web"
   :tags      ["typescript" "python"]
   :license   "AGPL-3.0"}
  {:repo-name "nyxt.el"
   :synopsis  "An Emacs interface for Nyxt"
   :tags      ["emacs-lisp" "nyxt"]
   :license   "GPL-3.0"}
  {:repo-name "nx-router"
   :synopsis  "A declarative URL routing extension for Nyxt"
   :tags      ["common-lisp" "nyxt"]
   :license   "BSD 3-Clause"}
  {:repo-name "nx-tailor"
   :synopsis  "A theme manager for Nyxt"
   :tags      ["common-lisp" "nyxt"]
   :license   "BSD 3-Clause"}
  {:repo-name "nx-mosaic"
   :synopsis  "A configurable new-buffer page for Nyxt"
   :tags      ["common-lisp" "nyxt"]
   :license   "BSD 3-Clause"}
  {:repo-name "fdroid.el"
   :synopsis  "An Emacs interface for F-Droid"
   :tags      ["emacs-lisp"]
   :license   "GPL-3.0"}]}
